body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    font-size: 18px;
    background-color: #F0F0F0;
    overflow: auto;
}

footer {
    background-color: #15222a5e;
    padding: 20px;
    text-align: center;
    height: 90px;
    margin-top: 200px;
    bottom: 0;
}

footer img {
    width: 100px;
}

footer p {
    font-size: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(140, 140, 140);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0.412);
}

@font-face {
    font-family: 'flip';
    src: url('Font/Flipahaus.otf');
}

@font-face {
    font-family: 'komigo';
    src: url('Font/Komigo.ttf');
}

@font-face {
    font-family: 'seven';
    src: url('Font/SevenAndStorm_Ektor_TB.otf');
}

.nav {
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;
    background-color: #dedede;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure it's above other content */
}

.col-sm-7 img {
    width: 200px;
}

a.nlogo {
    background-color: none;
} 

.col-sm-1 {
    text-align: center;
    width: auto;
}

.ni img {
    width: 45px;
    transition: 0.1s ease-in-out;
}

.ni img:hover {
    scale: 1.1;
}

.n a {
    text-decoration: none;
    color: black;
    font-family: flip;
    font-size: 22px;
    padding: 2px 2px 0px 2px;
    margin: 0;
}

.n a:hover {
    background-color: black;
    color: #F0F0F0;
}

.n hr {
    margin: 0;
    margin-top: -5px;
    border: 2px solid black;
    border-radius: 10px;
}

.img-fluid {
    position: relative;
    margin-top: 80px;
}


.mess {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 50%;
}

.display-1 {
    font-family: flip;
    font-size: 80px;
    color: white;
    margin: 0;
}

.mess p {
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

.mess a {
    text-decoration: none;
    border: 1px solid #F0F0F0;
    background-color: #F0F0F0;
    padding: 10px 50px;
    border-radius: 50px;
    color: #15222A;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.mess a:hover {
    box-shadow: inset 0px 0px 20px #15222A;
    border: 1px solid #15222A;
    font-size: 17px;
    padding: 12px 53px;
}

.text-center {
    margin-top: 80px;
    font-family: flip;
    letter-spacing: 2px;
}

.brands {
    text-align: center;
    width: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.132);
}

.blogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogo img {
    height: auto;
    width: 200px;
    margin: 10px 30px;
    display: block;
    transition: 0.2s ease-in-out;
}

.blogo img:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.233));
    scale: 1.04;
}

.category {
    margin: 100px auto;
}

.cat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat h4 {
    margin-left: 20px;
}

.cat .col-sm-1 {
    margin: 0px 20px;
    background-color: rgba(152, 152, 152, 0.147);
    border-radius: 5px;
}

.cat img {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.304));
}



.cat img {
    width: 200px;
}

/*--------------------- P R O D U C T ---------------------*/
.brand {
    float: left;
    width: 20%;
}

.brand h4 {
    font-weight: bold;
}

.brand ul {
    list-style: none;
}

.brand a {
    text-decoration: none;
    color: black;
}

.p {
    margin-top: 100px;
    margin-bottom: 100px;
}

.prod {
    justify-content: center;
}

.item {
    padding: 10px 10px;
    transition: 0.2s ease-in-out;
}

.item a {
    text-decoration: none;
    color: black;
}

.item:hover {
    scale: 1.01;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.282);
}

/* .item a {
    text-decoration: none;
    color: black;
} */

.item img{
    width: 100%;
    padding-bottom: 10px;
}

p.categ {
    color: gray;
    font-size: 13px;
}

.item h6 {
    font-weight: bold;
}

.item button {
    border: 1.5px solid black;
    /* margin-bottom: 20px; */
    
}

.item button:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.search {
    text-align: right;
    margin-bottom: 10px;
}

.search input {
    width: 40%;
    padding: 3px 20px;
    border: 1px solid black;
    border-radius: 30px;
}

.search button {
    border: none;
}

.search img {
    width: 30px;

}




/*--------------------- C A R T ---------------------*/
.c {
    margin: 100px 0 20px 0;
    text-align: center;
    font-weight: bold;
}

.title {
    background-color: #F0F0F0;
}

.list table {
    width: 100%;
    background-color: white;
    margin: 20px;
}

.list tr {
    align-items: center;
}

.list td {
    text-align: center;
    padding: 10px;
    width: 10%;
}

.list img {
    width: 100%;
}

.qnty {
    margin-top: -15px;
}

.decrease, .increase {
    border: none;
    background-color: white;
}

.decrease:active, .increase:active {
    background-color: #666666b5;
    color: white;
}

.quantity-input {
    width: 40px;
    text-align: right;
    font-size: 15px;
    padding: 0;
}

.co , .d {
    width: 150px;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.co {
    background-color: rgba(32, 201, 32);
    color: white;
}

.co:active {
    background-color: rgb(12, 107, 12);
}

.d {
    background-color: rgb(205, 0, 0);
    color: white;
}

.d:active {
    background-color: rgb(130, 0, 0);
}


/*--------------------- C O N T A C T ---------------------*/
img.contactbg {
    width: 100%;
    margin-top: 80px;
}

.contact {
    padding: 0;
    background-color: white;
}

.contact h1 {
    margin: 20px 0;
}

.cont {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.det {
    padding: 50px;
}

.det p {
    margin-left: 20px;
    font-weight: 100;
}

.det img{
    width: 22px;
    line-height: 18px;
    margin-right: 8px;
}

.socmed {
    padding: 50px;
    padding-bottom: 140px;
}

.socmed img {
    width: 40px;
    margin-right: 10px;
}

.contactf {
    margin: 0;
}


/*--------------------- I T E M  P R E V I E W ---------------------*/
.backbut {
    width: 100%;
}

.i {
    width: 100%;
    margin-bottom: 600px;
}

img.back {
    margin-top: 120px;
    margin-left: 150px;
    width: 40px;
}

.prodimg {
    margin: 10px 30px 50px 150px;
    width: 30%;
    float: left;
}

.prodimg img {
    width: 126.35px;
    margin: 2px 0px;
    
}

img.mainimg {
    width: 100%;
}

.details {
    padding: 0px 0px 0px 20px;
    float: right;
    width: 56%;
}

.details h2 {
    margin-top: 50px;
}

.details label {
    font-size: 20px;
    color: gray;
    margin-bottom: 5px;
}

p.rate {
    font-size: 15px;
}

.details img {
    width: 130px;
    margin-right: 15px;
}

h2.price {
    color: red;
}

p.size {
    margin-top: 50px;
    font-size: 20px;
}

.sizelist {
    margin-left: -30px;
}

.sizelist ul {
    list-style: none;
    display: flex;
    text-align: center;
}

.sizelist li {
    border: 1px solid black;
    padding: 8px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.sizelist li:hover {
    background-color: black;
    color: white;
}

.sizelist li:active {
    background-color: rgba(0, 0, 0, 0.683);
}

.itemaction {
    margin-top: 80px;
}

.itemaction button {
    padding: 15px 50px;
    width: 230px;
    text-align: center;
    border: 1px solid black;
}

.itemaction .ca {
    transition: 0.2s ease-in-out;
}

.itemaction .ca:hover {
    background-color: rgb(185, 185, 185);
}

.itemaction .ca:active {
    background-color: rgb(157, 157, 157);
}

.itemaction .b {
    background-color: rgb(84, 84, 84);
    color: white;
    transition: 0.2s ease-in-out;
}

.itemaction .b:hover {
    background: black;
}

.itemaction .b:active {
    color: rgb(173, 172, 172);
}

.description {
    padding: 0px 160px;
}

.reviews {
    margin-top: 100px;
    padding: 0px 160px;
}

.outof {
    margin: 0;
    width: 150px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.527));
}

.rating {
    background-color: rgb(213, 213, 213);
    padding: 20px 20px;
}

.sold {
    float: right;
    color: gray;
}

.sold p {
    margin-top: -40px;
    margin-right: 20px;
}

.user {
    margin-top: 15px;
    border: 1px solid rgb(162, 162, 162);
    padding: 20px 20px;
}

.userin {
    align-items: center; 
}

.uprof {
    justify-self: center; 
}

.uprof img {
    width: 100px;
}

.uinfo label {
    font-size: 18px;
    padding-top: 13px;
}

.uinfo img {
    width: 100px;
}

.uinfo p {
    font-size: 10px;
}























@media screen and (max-width: 600px) {
    .container-fluid {
        width: 100%;
        margin: 0;
    }

    .row {
        align-items: center;
        padding: 10px 20px;
        justify-content: space-between;
    }

    .col-sm-7 {
        text-align: center;
    }

    .col-sm-7 img {
        width: 100px;
        margin: 10px 0;
    }

    .col-sm-1 a{
        font-size: 12px;
    }
}


















/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #F0F0F0;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 999; 
}

.logo {
    height: 70px;
    width: auto;
}

.nav {
    display: flex;
    gap: 30px;
    margin-right: 30px; 
}


.navig {
    text-decoration: none;
    color: #000000; 
    letter-spacing: 1px;
    font-weight: bold;
}

.navig:hover {  
    color: rgb(82, 82, 82);
}

.welcome {
    position: relative;
    width: 100%;
}

.welcome img {
    margin-top: 90px;
    width: 100%;
}

.message {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 40%; 
}

.message p {
    font-size: 20px;
    color: #ffffff; 
    letter-spacing: 1px;
   
    margin-bottom: 30px;
}

.message .t {
    font-family: seven;
    color: white;
    letter-spacing: 3px;
    font-size: 80px;
    line-height: 0;
}

.message a {
    text-decoration: none;
    background-color: #F0F0F0;
    padding: 10px 50px;
    border-radius: 50px;
    color: rgb(7, 7, 60);
    transition: 0.2s ease-in-out;
    border: 1px solid #F0F0F0;
}

.message a:hover {
    background-color: #15222A;
    color: rgb(177, 177, 177);
    border: 1px solid #F0F0F0;
}
 */



